<div class="row">
  <div class="col-md-4">
<%= form_for [:admin, @railway_station] do |f| %>
  <%= render 'common/errors', resource: @railway_station %>
  <div class="field">
    <%= f.label t('.label') %><br>
    <%= f.text_field :title , class: 'form-control'%>
  </div>
  <div class="actions">
    <%= f.submit t('.submit', action: @railway_station.new_record? ? 'Создать' : 'Изменить'), class: 'btn btn-primary' %>
  </div>
<% end %>
  </div>
</div>