<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= t('.title') %>: <small><%= @railway_station.title %></small></h1>
</div>

<% if @railway_station.routes.empty? %>
    <strong> <%= t('.not_route') %></strong>
<% else %>
    <strong><%= t('.in_route') %></strong>
    <ul>
      <% @railway_station.routes.each do |route| %>
          <li><%= link_to route.name, [:admin, route] %></li>
      <% end %>
    </ul>
<% end %>


  <strong><%= t('.trains_on_station') %></strong>
  <% if @railway_station.trains.present? %>
    <ul>
      <% @railway_station.trains.each do |train| %>
          <li>
            <%= link_to train.number, [:admin, train] %>
          </li>
      <% end %>
    </ul>
<% else %>
    Отсутствуют
<% end %>


<%= link_to t('.edit'), edit_admin_railway_station_path(@railway_station), class: 'btn btn-primary' %> |
<%= link_to t('.back'), admin_railway_stations_path , class: 'btn btn-primary' %>
