<p id="notice"><%= notice %></p>

<div class="page-header">
  <%= @route.name %>
</div>

<div>
  <strong>Список станций на маршруте:</strong>
  <% if @route.railway_stations.present? %>
    <ul>
      <% @route.railway_stations.ordered.each do |station| %>
          <li>
            <%= link_to station.title, [:admin,station] %>
          </li>
      <% end %>
    </ul>
<% else %>
    Станций на маршруте нет
<% end %>
</div>

<div>
  <strong>Список поездов на маршруте:</strong>
  <% if @route.trains.present? %>
    <ul>
      <% @route.trains.each do |train| %>
          <li>
            <%= link_to train.number, [:admin, train]%>
          </li>
      <% end %>
    </ul>
<% else %>
    <p>
      <strong>Поездов на маршруте нет </strong>
    </p>
<% end %>
</div>

<%= link_to 'Редактировать', edit_admin_route_path(@route), class: "btn btn-primary" %> |
<%= link_to 'Назад', admin_routes_path, class: "btn btn-primary" %>
