<%= form_for(@train) do |f| %>
  <% if @train.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@train.errors.count, "error") %> prohibited this train from being saved:</h2>

      <ul>
      <% @train.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :current_station %>
    <%= f.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :route %>
    <%= f.collection_select :route_id, Route.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit "#{ @train.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>
