<%= form_for(@ticket) do |f| %>
    <%= render 'common/errors', resource: @ticket %>
    <%= f.hidden_field :train_id %>
    <%= f.hidden_field :start_station_id %>
    <%= f.hidden_field :end_station_id %>

    <div class="field">
      <%= f.label :passenger_name %>
      <%= f.text_field :passenger_name %>
    </div>

    <div class="field">
      <%= f.label :passport_number %>
      <%= f.text_field :passport_number %>
    </div>

    <div class="actions">
      <%= f.submit  %>
    </div>
<% end %>