<tr>
  <td><%= ticket.number %></td>
  <td><%= ticket.train.number %></td>
  <td><%= ticket.train.route.name %></td>
  <td><%= ticket.start_station.title %></td>
  <td><%= ticket.end_station.title %></td>
  <td><%= link_to 'Показать', ticket_path(ticket) %></td>
  <td><%= link_to 'Удалить', ticket_path(ticket), method: :delete, data: {confirm: 'Вы уверены?'} %></td>
</tr>