<div class="page-header">
<h1>Информация о билете</h1>
</div>
<p>Дата покупки: <%= @ticket.created_at.strftime '%d.%m.%Y %H:%M' %></p>
<p>Покупатель: <%= @ticket.user.full_name %></p>

<table class="table table-striped">
  <tbody>
  <tr>
    <th>Номер билета:</th>
    <td><%= @ticket.number %></td>
  </tr>
  <tr>
    <th>Номер поезда:</th>
    <td><%= link_to @ticket.train.number, admin_train_path(@ticket.train) %></td>
  </tr>
  <tr>
    <th>Маршрут:</th>
    <td><%= link_to @ticket.train.route.name, admin_route_path(@ticket.train.route) %></td>
  </tr>
  <tr>
    <th>Станция отправления:</th>
    <td>
      <%= @ticket.start_station.title %>
      ( <%= @ticket.start_station.position_in(@ticket.train.route, :departure_time) %>)
    </td>
  </tr>
  <tr>
    <th>Станция прибытия:</th>
    <td>
      <%= @ticket.end_station.title %>
      ( <%= @ticket.end_station.position_in(@ticket.train.route, :arrival_time) %>)
    </td>
  </tr>
  </tbody>
</table>

<h2>Информация о пассажире:</h2>
<table>
  <tbody>
  <tr>
    <th>Имя:</th>
    <td><%= @ticket.passenger_name %></td>
  </tr>
  <tr>
    <th>Номер паспорта:</th>
    <td><%= @ticket.passport_number %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Назад', admin_tickets_path, class: "btn btn-primary" %>