<%= form_for [@train, @carriage.becomes(Carriage)] , url:admin_train_carriages_path   do |f| %>



<%= render 'common/errors', resource: @carriage %>

    <div class="field">
      <%= f.label :carriage_type %>
      <%= f.select :type, Carriage.types.map {|r| [r.to_s.humanize, r.to_s.camelcase]}, {} %>
    </div>



    <div class="field">
      <%= f.label :top_place %>
      <%= f.number_field :top_place %>
    </div>
    <div class="field">
      <%= f.label :lower_place %>
      <%= f.number_field :lower_place %>
    </div>

    <div class="field">
      <%= f.label :side_top_places %>
      <%= f.number_field :side_top_places %>
    </div>
    <div class="field">
      <%= f.label :side_lower_places %>
      <%= f.number_field :side_lower_places %>
    </div>

    <div class="field">
      <%= f.label :seats %>
      <%= f.number_field :seats %>
    </div>



    <div class="actions">
      <%= f.submit "#{ @carriage.new_record? ? 'Создать' : 'Изменить' }" %>
    </div>

   <% end %>