<H1>Поиск билетов</H1>

<%= form_for(@search, method: :post, url: search_path) do |f| %>
    <%= render 'common/errors', resource: @search %>
    <div class="field">
      <%= label_tag 'Станция отправки' %>
      <%= f.collection_select :start_station_id, RailwayStation.all.ordered_by_title, :id, :title %>
    </div>

    <div class="field">
      <%= label_tag 'Станция прибытия' %>
      <%= f.collection_select :end_station_id, RailwayStation.all.ordered_by_title, :id, :title %>
    </div>

    <div class="actions">
      <%= submit_tag 'Поиск' %>
    </div>

    <% if @search.result %>
        <% if @search.result.empty? %>
            <p>Search result is empty</p>
        <% else %>
            <table>
              <thead>
              <tr>
                <th>Поезд</th>
                <th>Маршрут</th>
                <th>Время отправления</th>
                <th>Время прибытия</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @search.result.each do |train| %>
                  <tr>
                    <td><%= link_to train.number, train %></td>
                    <td><%= link_to train.route.name, train.route %></td>
                    <td><%= @search.start_station.position_in(train.route) %></td>
                    <td><%= @search.end_station.position_in(train.route) %></td>
                    <td>
                      <%= form_tag(buy_tickets_path) do %>
                          <%= hidden_field_tag :train_id, train.id %>
                          <%= hidden_field_tag :start_station_id, @search.start_station_id %>
                          <%= hidden_field_tag :end_station_id, @search.end_station_id %>
                          <%= submit_tag 'Купить билет' %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
    <% end %>
<% end %>

<br>
<%= link_to 'Назад', 'welcome/index' %>