 <% if @search.result.empty? %>
     <p>Search result is empty</p>
 <% else %>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Поезд</th>
                <th>Маршрут</th>
                <th>Время отправления</th>
                <th>Время прибытия</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @search.result.each do |train| %>
                  <tr>
                    <%= form_tag buy_tickets_path do %>
                    <td><%= train.number%></td>
                        <%= hidden_field_tag :train_id, train.id %>
                    <td><%= train.route.name %></td>
                    <td><%= @search.start_station.position_in(train.route, :departure_time) %></td>
                        <%= hidden_field_tag :start_station_id, @search.start_station_id %>
                    <td><%= @search.end_station.position_in(train.route, :arrival_time) %></td>
                        <%= hidden_field_tag :end_station_id, @search.end_station_id %>
                        <td><%= submit_tag 'Купить' %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
 <% end %>

 <%= link_to 'К поиску', search_url, class: "btn btn-primary" %>
