<%= render 'common/errors', resource: train %>
<div class="row">
  <div class="col-md-4">
    <% hidden = false unless local_assigns[:hidden] %>
<%= form_for [:admin, train], html: { style: "display: #{hidden ? 'none' : 'block'}" }  do |f| %>


  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :current_station %>
    <%= f.collection_select :current_station_id, RailwayStation.all, :id, :title, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :route %>
    <%= f.collection_select :route_id, Route.all, :id, :name, class: 'form-control' %>
  </div>
    <div class="field">
      <%= f.label :sort_carriage %>
      <%= f.check_box :head_sort_order %>
    </div>
  <div class="actions">
    <%= f.submit "#{ train.new_record? ? 'Создать' : 'Изменить' }", class: 'btn btn-primary' %>
  </div>
<% end %>
  </div>
</div>
