<tr>
  <td width="600px">
    <div id="train_number_<%= train.id %>">
      <h4><%= train.number %></h4>
    </div>
    <%= render 'form', train: train, hidden: true %>
  </td>
  <td><%= link_to 'Показать', [:admin, train], class: "btn btn-info" %></td>
  <td><%= link_to 'Редактировать', '', class: "btn btn-warning edit_train", data: { train_id: train.id} %></td>
  <td><%= link_to 'Удалить', [:admin, train], class: "btn btn-danger",  method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>