<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>Находится на станции:</strong>
  <% if @train.current_station.present? %>
      <%= link_to  @train.current_station.title, [:admin, @train.current_station] %>
  <% else %>
      Не указано
  <% end %>
</p>

<p>
<strong>Следует по маршруту:</strong>
  <% if @train.route.present? %>
    <%=  link_to @train.route.name, [:admin, @train.route] %>
  <% else %>
    Не указано
  <%end%>
</p>

<p>
  <storng>Список вагонов поезда:</storng>
  <br>
  <% if @train.ordered_carriage.present? %>
    <ul>
  <% @train.ordered_carriage.each do |carriage| %>
      <li><%= carriage.number %>
          <%= link_to "Показать", admin_carriage_path(carriage) %>
          <%= link_to "Удалить",  admin_carriage_path(carriage), method: :delete, data: { confirm: "Вы уверены?" } %></li>
  <% end %>
 </ul>
  <% else %>
    Вагонов нет
  <%end%>
<br>
<%= link_to 'Добавить вагон', new_admin_train_carriage_path(@train) %>
</p>


<p>
  <strong>Информация о вагонах в составе поезда:</strong>
  <% if @train.carriages.present? %>
<ul>
  <% @train.carriages.group(:type).count.each do |carriage_type, cnt| %>
    <li><%= "Тип вагона : #{carriage_type} "%>
      <br>
        <%= "Количество : #{cnt} " %>
      <br>
        <%= "Количество верхних мест : #{ @train.show_count_place_by_type(carriage_type,:top_place) }"%>
      <br>
        <%= "Количество нижних мест : #{ @train.show_count_place_by_type(carriage_type,:lower_place) }"%>
      <br>
        <%= "Количество боковых верхних мест : #{ @train.show_count_place_by_type(carriage_type,:side_top_places) }"%>
      <br>
       <%= "Количество боковых нижних мест : #{ @train.show_count_place_by_type(carriage_type,:side_lower_places) }"%>
      <br>
       <%= "Количество сидячих мест : #{ @train.show_count_place_by_type(carriage_type,:seats) }"%>
    </li>
  <% end %>
</ul>
<% else %>
    <p>
      <strong>информации нет </strong>
    </p>
<% end %>
</p>

<%= link_to 'Редактировать', edit_admin_train_path(@train) %> |
<%= link_to 'Назад', admin_trains_path %>
